::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 174, 174);
}

.sidebar {
  flex: 3;
  overflow-y: scroll;
  height: calc(100vh - 46px);
  position: sticky;
  top: 50px;

  .sidebar_wrapper {
    padding: 20px;

    .sidebar_list {
      list-style: none;
      margin: 0;
      padding: 0;
      .sidebarlist_item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;
        i {
          margin-right: 18px;
        }

        span {
        }
      }
    }

    .showmore {
      border: none;
      width: 152px;
      height: 33px;
      font-weight: bold;
      border-radius: 5px;
      margin-bottom: 16px;
      cursor: pointer;
    }
    .line {
    }
    // friends list **********************
    .friends_Wrapper {
      .friendsWrapperList {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }
}
