body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //height: 5000px;
}
// tobar style
.tobar_container {
  display: flex;
  background-color: #1876f4;
  padding-top: 10px;
  height: 36px;
  position: sticky;
  top: 0;
  z-index: 500;

  .left {
    flex: 3;
    color: #fff;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
  }
  .center {
    flex: 5;
    background: #fff;
    margin-bottom: 9px;
    border-radius: 50px;
    span {
      position: relative;
      top: 2px;
      i {
        margin-top: 5px;
        margin-left: 11px;
        cursor: pointer;
      }
    }
    input {
      width: 70%;
      border: none;
      outline: none;
      margin-left: 10px;
    }
  }
  .right {
    flex: 4;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    .first {
      display: flex;
      justify-content: space-between;
      width: 147px;
      color: #fff;
      margin-top: 4px;
      text-transform: capitalize;
    }
    .second {
      display: flex;
      justify-content: space-around;
      width: 130px;
      margin-top: 6px;
      .p1,
      .p2,
      .p3 {
        i {
          position: relative;
          color: #fff;
          font-size: 14px;
          .number-container {
            display: inline;
            width: 16px;
            height: 16px;
            background: red;
            border-radius: 50%;
            color: #fff;
            position: absolute;
            top: -9px;
            left: 7px;
            span {
              line-height: 20px;
              font-size: 11px;
              position: absolute;
              top: -2px;
              left: 5px;
            }
          }
        }
      }
    }
    .third {
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        position: relative;
        top: -3px;
      }
    }
  }
}
