.friendsListItem {
  display: flex;
  align-items: center;
  margin: 33px 0;
  cursor: pointer;

  img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
  }
  span {
    text-transform: capitalize;
    font-weight: bold;
  }
}
