.post {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 20px 6px rgba(161, 154, 154, 0.67);
  -webkit-box-shadow: 3px 3px 20px 6px rgba(161, 154, 154, 0.67);
  -moz-box-shadow: 3px 3px 20px 6px rgba(161, 154, 154, 0.67);
  border-radius: 10px;

  .post_Wrapper {
    padding: 10px;
    .post-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .post-top-left {
        display: flex;
        align-items: center;
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }
        p {
          margin: 0 10px;
          text-transform: capitalize;
          font-weight: bold;
          font-size: 15px;
        }
        span {
          font-size: 12px;
          opacity: 0.8;
        }
      }
      .post-top-right {
        i {
        }
      }
    }

    .post-center {
      p {
        text-transform: lowercase;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .post-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .post-bottom-left {
        display: flex;
        align-items: center;
        img:nth-child(1) {
          width: 20px;
          height: 20px;
          position: relative;
          top: -2px;
        }
        img:nth-child(2) {
          width: 25px;
          height: 36px;
          margin: 0 5px;
          object-fit: cover;
        }
        span {
          font-size: 14px;
        }
      }
      .post-bottom-right {
        span {
        }
      }
    }
  }
}
